
<h1>Category Management</h1>

<%#= link_to 'New Category', new_administrators_category_path, class: 'btn btn-primary mb-3' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to 'Edit', edit_administrators_category_path(category), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'View', administrators_category_path(category), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Delete', administrators_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
