<div class="row">
	<div class="col-md-4">
		<%= form_with(url: products_path, method: 'get',class: "form-inline my-2 my-lg-0") do |form| %>
		  <div class="form-group">
		    <%= text_field_tag :query, params[:query], placeholder: "Search by name.", class: "form-control" %>
		  </div>
	</div>
	<div class="col-md-5">
		  <div class="form-group">
		    <%= select_tag :category_name, options_for_select(Category.all.map { |c| [c.name, c.id] }, params[:category]), include_blank: "All Categories", class: "form-control" %>
		  </div>
	</div>
	<div class="col-md-2">
		  <%= submit_tag "Search", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>